#content
  h1 Cozy template
  h2 Welcome
  ul
    li 
      a(href="https://github.com/mycozycloud/cozy-setup/wiki") Documentation
    li 
        a(href="https://github.com/mycozycloud/cozy-setup/wiki/Getting-started")
          | Getting Started
    li 
      a(href="https://github.com/mycozycloud") Github
      
  h1 My bookmarks
  
  form#create-bookmark
    input.title-field(placeholder="title")
    input.url-field(placeholder="url")
    button.btn.create-button create
  div#bookmark-list
